
body {
  background: linear-gradient(circle, #1b1b1b, #686666, #afb1a6, #b8e0f0);
  margin: 0;
  font-family: Arial, sans-serif;
  color: #000000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  padding: 10px 20px;
}

.navbar-left .title {
  font-size: 1.5em;
  color: #f0f0f0;
  text-decoration: none;
}

.navbar-right a {
  color: #f0f0f0;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1em;
}

.navbar-right a:hover {
  color: #4CAF50;
}



.container {
  text-align: center;
  padding: 50px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

main h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

main p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.responsive-img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 20px auto;
  display: block;
}


a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
